@import './var'; 
@import './font'; 
@import './background'; 
@import './home_banner'; 
@import './menu'; 
@import './footer'; 
@import './about.scss';
@import './menu_page.scss';
@import './project_page.scss';
@import './banner_title.scss';



//all
* {
    margin: 0;
    padding: 0;
    color: $white-color;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
}
html {
    scroll-behavior: smooth;
  }



//blur point
.blur_point{
    width: 350px;
    height: 350px;
    border-radius: 500px;
    filter: blur(100px);
    opacity: 0.7;
    position:absolute;
}


//btn
button{
    display: flex;
    align-items: center;
    span{
        display: block;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 10px;
    }
    p {
        margin-left: 5px;
        margin-right: 5px;
    }
    img{
        width: 10px;
    }
}



//cursor
@media (min-width: 1024px) {
    #dot_container{
        position: fixed;
        width: 100vw;
        width: 100vh;
        z-index: 10;
        .dot{
            transform: translate(-2px, -2px);
            display: block;
            z-index: 10;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $white-color;
            pointer-events: none;
        }
        .circle{
            transform: translate(-10px, -10px);
            opacity: 0.4;
            display: block;
            z-index: 10;
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 1px solid $white-color;
            pointer-events: none;
        }
    
        // .circle_open{
        //     transform: translate(-20px, -20px)!important;
        //     width: 40px!important;
        //     height: 40px!important;
        // }
    }
}

