.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $padding;
    
    p{
        font-family: $font-sans-serif;
        font-size: $body-size;
        line-height: 1.7;
        margin-top: $padding;
    }
    img{
        width: 300px;
        border-radius: 300px;
        border: solid 3px $white-color;
        margin-bottom: 2*$padding;
    }
}