body{                              
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background_black.jpg');   
    background-repeat: repeat;
    background-size: 1000px 1000px; 
    background-position: center; 

}

