@font-face {
    font-family: 'Bodoni72';
    src: url('../font/Bodoni_72_OS.ttc') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat_Regular_400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Bold';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
