
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;

    div{
        padding-bottom: 50px;
        z-index: 1;
    }

    h1{
        font-family: $font-serif;
        font-size: $h1-size;
    }

    .subtitle{
        padding-top: $space;
        font-family: $font-sans-serif;
        font-size: 1rem;
        text-align: center;
        letter-spacing: 5px;
    }

    #orange_blur_point{
        background-color: $orange-color;
        position:absolute;
        top: -100px;
        right: -200px;

    }

    #blue_blur_point{
        background-color: $blue2-color;
        position:absolute;
        bottom: 100px;
        left: -250px;
    }

    #planeHome{
        position: fixed;
        left: 10px;
        top: 80vh;
        width: 100px;
    }

    #arrowHome{
        cursor: pointer;
        position: absolute;
        right: 40px;
        bottom: 60px;
        animation: bounce 1s infinite; 
     
    }

}



@keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(10px); 
    }
  }






@media (min-width: 1024px) {
.home-header{
    h1{
        font-size: 8rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
}

.home{
    #planeHome{
        width: 150px!important;
    }
}




}