.menu_page{
    overflow: hidden;
    padding-left: $padding;
    padding-right: $padding;

    h2{
        font-family: $font-serif;
        font-size: 3rem;
        text-align: center;
    }

    .carrousel{
        display: flex;
        transition: 0.4s;
        padding: $padding;
    }

    .menu_page_item{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            display: block;
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background-color: $orange-color;
            transition: 0.2s;
        }

        p{
            transition: 0.2s;
            font-family: $font-serif;
            font-size: 3rem;
            padding-left: $padding;
            padding-right: $padding;
        }
    }
    
    .split2{
        display: block;
        border-radius: 2px;
        height: 1px;
        width: 100%;
        background-color: $white-color;
        opacity: 0.7;
    }
}


.split1{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

    span {
        flex-grow: 2;
        border-radius: 2px;
        display: block;
        height: 1px;
        background-color: $white-color;
    }
    p{
        flex-grow: 1;
        font-family: $font-sans-serif;
        font-size: 0.8rem;
        max-width: 200px;
        text-align: center;
    }

}




//hover 

.menu_page{
    padding-top: 80px;
    
    h2{
        font-size: 3rem;
        padding-bottom: $padding;
    }
    .carrousel:hover{
        transition: 0.4s;
        cursor: pointer;
        .menu_page_item{

            span{
                background-color: $blue-color;
                transition: 0.2s;
            }
        }
    }
}



@media (min-width: 1024px) {

    .menu_page_item{
        p{
            font-size: 7rem!important;
        }
    }   
    
}