.menu{
    position: fixed;
    z-index: 9;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0) 100%);

    font-family: $font-serif;
    font-size: $menu-size;
    display: flex;
    width: 100%;
    justify-content: space-between;

    padding: $padding;

    transition: 2s;


    div > a {
        transition: 1s;
        opacity: 1;
    }

    .burger{
        display: flex; 
        flex-direction: column;
        justify-content: space-around;


        span{
            display: block;
            background-color: $white-color;
            width: 40px;
            height: 2px;
            border-radius: $border-radius;
            transition: 0.2s;
        }

        .isopen1 {
            transform: translateY(6px) rotate(45deg); 
          }
          
          .isopen2 {
            transform: translateY(-6px) rotate(-45deg); 
          }

    }


}
.menu_hide{
    background-color: rgba(0, 0, 0, 0)!important;
    div > a {
        opacity: 0;
        cursor: default;
        transition: 0.1s;
    }
}


.menu_list{
    position: fixed;
    background-color: $black-color;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    ul{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li{
            font-size: 6rem;
            cursor: pointer;
        }
    }
}
.menu_liste_show{
    top: 0!important;
    transition: 0.5s;
}
