.projects {
    padding: $padding;

    .projects-summary {
        width: 80%; 
        position: sticky;
        top: 4 *$padding;
        height: fit-content; 
        display: none;

        p{
            font-family: $font-sans-serif-bold;
        }

    div > a > p {
        transition: opacity 0.3s ease-in-out ;
    }
    div > a > p:hover {
        opacity: 1!important;
    }
    
    

        span {
            display: block;
            height: 1px;
            background-color: $white-color;
            border-radius: 5px;
            margin-bottom: 1.5 * $space;
        }
        p {
            margin-bottom: $space;
        }
    }

    .projects-list {
        width: 100%;

        
    }

}



@media (min-width: 1024px) {
    .projects {
        grid-template-columns: 20vw auto;
        display: grid;
        max-width: 100%;
        .projects-summary {
            display: block;
        }
    }
}

