
//ProjectBanner
.project_banner{
    padding-top: 10vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;

    #orange_blur_point{
        background-color: $orange-color;
        top: -100px;
        right: -200px;

    }

    #blue_blur_point{
        background-color: $blue2-color;
        bottom: 100px;
        left: -250px;
    }


    .categories_container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 2*$padding;
        margin-right: 2*$padding;
        z-index: 2;

        .categories{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-bottom: 2*$padding;

            .category{
                p{
                    font-family: $font-sans-serif;
                    font-size: 1.3rem;
                    margin-bottom: 0.5*$padding;
                }
            }
        }

        #arrowHome{
            animation: bounce 1s infinite; 
            margin-left: 80vw;
        }
    }


}

@media (min-width: 1024px) {
    .bannerTitle{
        margin-top: 30px;
        .bannerTitleContent{
            p{
                font-size: 6rem!important;
            }
        }
        
    }
    
    .project_banner{


        #orange_blur_point{
            top: -60px;
            right: 0px;
            width: 650px;
            height: 650px;
    
        }
    
        #blue_blur_point{
            bottom: 100px;
            left: 0px;
            width: 650px;
            height: 650px;
        }
        
        .categories_container{
            margin-left: 5*$padding!important;
            margin-right: 5*$padding!important;
            flex-direction: row!important;
            .categories{
                flex-direction: row!important;
                margin-bottom: 0px!important;

                .category:first-child span {
                    display: none;
                }
                .category{
                    display: flex;
                    align-items: center;
                    p{
                        margin-bottom: 0px!important;
                        margin-right: 0.5*$padding;
                        margin-left: 0.5*$padding;
                    }
                    span{
                        display: block;
                        background-color: $blue-color;
                        width: 7px;
                        height: 7px;
                        border-radius: 7px;
                    }
                }
            }
    
        }

        #arrowHome{ 
            margin-left: 0!important;
        }
    
    
    }
    

}



@keyframes translateTitle {
    0% { 
        transform: translateX(0%); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}

@keyframes translateTitleReverse {
    0% { 
        transform: translateX(0%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}






