.project-card {
    border: 1px solid $white-color;
    border-radius: $border-radius;
    padding: $padding;
    margin-bottom: $padding;


    .project-title{
        overflow-wrap: break-word;
        word-break: break-word; 
        h2{
            font-size: 2.5rem;
            margin-bottom: $space;
        }
        p{
            margin-bottom: $space;
        }
    }
    .project-card-text{
        font-family: $font-sans-serif;
        line-height: 1.7rem;
        margin-bottom: $space;
    }
    .project-img{
        flex-direction: column;
        img, video{
            border-radius: 15px;
            width: 100%;
            margin-top: $padding;
        }
    }
}

@media (min-width: 1224px) {
    .project-card > div {
        display: flex;
        .project-card-text{
            margin-left: $space;
        }
        .project-title{
            overflow-wrap: normal;
            word-break: normal;
            h2{
                min-width: 450px;
                font-size: 4rem!important;
            }

        }
    }
}