
//colors
$blue-color: #257CFF;
$blue2-color: #20179ffc;
$orange-color: #E95D18;
$white-color: #FAFAFA;
$black-color: #242424; 


//fonts
$body-size: 1rem; 
$menu-size: 1.3rem;
$h1-size: 3.2rem; 

$font-serif: 'Bodoni72';
$font-sans-serif: 'Montserrat';



//other
$space: 20px; 
$padding: 30px;
$border-radius:24px; 

