
//colors
$blue-color: #257CFF;
$orange-color: #E95D18;
$white-color: #FAFAFA;
$black-color: #242424; 


//fonts
$body-size: 1rem; 
$h1-size: 4rem; 

$font-serif: 'Bodoni72';
$font-sans-serif: 'Montserrat';



//other
$space: 20px; 

